.CompanyCard {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.CompanyCard:hover {
  transition: .3s;
  transform: scale(1.03);
}

.CompanyCard-header {
  text-align: left;
}


.CompanyCard-header img {
  float: right;
  width: 5%;
}

.CompanyCard-link {
  text-align: left;
  text-decoration: none;
  color: black;
}

.CompanyCard-link:hover {
  color: blue;
}