.JobCard {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
  background-color: white;
  padding: 12px;
  padding-left: 15px;
  border-radius: 4px;
}

.JobCard {
  text-align: left;
}


.JobCard-{
  text-align: left;
  text-decoration: none;
  color: black;
}

.JobCard-link:hover {
  color: blue;
}