.SearchForm {
  margin: 30px;
}

.SearchForm button {
  font-size: 1.3em;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
  padding: 6px;
}

.SearchForm input {
  font-size: 1.3em;
}

button:hover {
  cursor: pointer;
  background-color: rgb(221, 221, 221);
}