.Navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.Navigation-home {
  float: left;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
}

.Navigation-pages {
  float: right;
}

.Navigation-companies,
.Navigation-jobs {
  padding: 10px;
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.Navigation-home:hover,
.Navigation-companies:hover,
.Navigation-jobs:hover {
  color: black;
}