.NotFound {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  margin-bottom: 20px;
  background-color: white;
  padding: 12px;
  padding-left: 15px;
  padding-bottom: 25px;
  border-radius: 4px;
}

.NotFound p {
  font-size: 1.5em;
}

.NotFound-link {
  text-decoration: none;
  color: rgb(79, 78, 78);
}

.NotFound-link:hover {
  color: black;
}